<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<connectionStrings>
		<add name="DbConnection"
			 connectionString="server=10.153.174.183;port=3306;database=2dchrono_db;uid=chrono_user;pwd=cs2dgroup1;"
			 providerName="MySql.Data.MySqlClient"/>
	</connectionStrings>


</configuration>